<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://unpkg.com/node-vibrant/dist/vibrant.min.js" defer></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <title>SpotifyApi</title>
</head>
<body>
    <div id="track-info">
        <div class="progress-circle">
            <img class="track-img" id="album-image" src="{{ url_for('static', filename='Spotify_Icon_RGB_Green.png') }}" alt="Image de l'album">
            <div class="progress-bar" id="progress-bar"></div>
        </div>   
    </div>
</body>
</html>

